body {
    background-image: url(/img/ignasi_pattern_s.png);
    font-family: Open Sans;
}

.navbar {
	height: 85px;
	padding:10px 20px 10px 20px;
	background-color: white;
	color: black;
	border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #000000;
	margin:0px 10px 0px 10px;
}

.navbar-header {
	padding-top:6px;
	padding-bottom:6px;
}

.navbar-brand {
	padding:0px 0px 0px 0px;
}

.navbar-nav {
	font-size: 1em;
	font-weight: 600;
	padding: 22px 20px 20px 20px;
	margin-top: 0px;
}

.navbar-form {
	margin:0px;
	padding-top: 14px;
	padding-bottom: 14px;
}

.nav-menu {
	margin-top:15px;
}

.navbar-collapse {
	background-color: white;
}

.navbar-nav>li>a {
	padding:0px;
	margin:0px 16px 0px 16px;
}

#blog-hero {
	margin-top: -20px;
	height:350px;
	background-image: url('/img/better-wood.jpg');
}

#post-hero {
	margin-top: -20px;
	height:350px;
}

#blog-jumbo {
	color: white;
	font-weight: 800;
	margin-top: 15px;
	background-color: transparent;
}

#post-holder{
	background-color: white;
	margin-top: -200px;
}

#post-holder-normal{
	background-color: white;
}

#post-content-holder h1 {
	font-size: 28px;
}


.post-date {
	font-size: 10px;
}

.pre-head {
	font-weight: 700;
}

.pre-post {
	margin-top:15px;
	margin-bottom:35px;
}

.pre-image {
	max-height: 300px
}

#roboto-slab {
	font-family: Roboto Slab;
	font-weight: 700;
}

#roboto-slab-small {
	font-family: Roboto Slab;
}

#signup-modal-button{
	background-color: rgb(19,56,132);
	color:white;
}

.flashbar {
	margin-top: -20px;
	border-radius: 0px;
}

@media screen and (min-width: 768px) {
	#post-holder {
		margin-top: -140px;
	}

	#post-content-holder h1 {
		font-size: 45px;
	}
}

#writeQuotes{
	font-style: italic;
	margin-top:20px;
}

#first-post {
	margin-top: 50px;
	background-color: #5cb85c;
	border-radius:6px;
	color: white;
	padding: 5px;
}

.thumbnail {
  width:95px;
  margin:0px;
}

.edit-btn {
  background-color: rgb(255,146,27);
  color: white;
}